header{
	font-size: 35px;
	text-align: center;
	line-height: 150px;
	color: white;
	width:23%; 
	background-color: #65a5fa;
	float: left;
	height: 100%;
}

.content{
	width: 75%;
	float: right;
}
html,body{
	height: 100%;
	width: 100%;
	max-width: 900px;
	font-family: "微软雅黑";
	margin: 0 auto;
}

ul{
	padding:0;
}

li{
	list-style: none;
}
tr{
	padding-top: 20px;
}

